<h1>I <span class="glyphicon glyphicon-heart"></span> 80's Bands</h1>
<br />
<% @bands.each do |band| %>

	<div>
		<h1><%= band.name %></h1>
		<p><span class="glyphicon glyphicon-star"></span><i><%= band.members %></i></p>
		<br />
	
		<p><span class="glyphicon glyphicon-music"></span>
			<%= band.song1 %>
		</p>
		<p><span class="glyphicon glyphicon-music"></span>
			<%= band.song2 %>
		</p>
		<p><span class="glyphicon glyphicon-music"></span>
			<%= band.song3 %>
		</p>
	</div>
	<hr />
	<% end %>
