<h1 class=text-center>I <span class="glyphicon glyphicon-heart black-heart"></span> 80's Bands</h1>
<br />
<% @bands.each do |band| %>

	<div class="boy-band-box col-xs-10 col-xs-offset-1">
		<h2><%= band.name %></h2>
		<p><span class="glyphicon glyphicon-star"></span> <span class="band-member">Band Members:</span> <i><%= band.members %></i></p>
		<br />
	
		<p><span class="glyphicon glyphicon-music"></span>
			<%= band.song1 %>
		</p>
		<p class="col-xs-offset-1"><span class="glyphicon glyphicon-music"></span>
			<%= band.song2 %>
		</p>
		<p class="col-xs-offset-2"><span class="glyphicon glyphicon-music"></span>
			<%= band.song3 %>
		</p>
	</div>
	<!-- hr / -->
	<% end %>
